 <!-- HEADER -->
  <header class="fixed top-0 left-0 w-full z-20 bg-gray-700/40 backdrop-blur-md shadow-md">
    <nav class="flex flex-wrap justify-between items-center px-4 py-2">
      <a href="index.php" class="text-white font-bold text-lg bg-white/10 px-3 py-1 rounded-xl hover:bg-gray-400 transition">
        Beranda
      </a>
      <div class="flex flex-wrap justify-center gap-2 mt-2 sm:mt-0">
        <a href="data-buku-user.php" class="bg-white/10 text-white/70 px-3 py-1 rounded-xl hover:bg-gray-400 transition font-semibold">Buku</a>
        <a href="event.php" class="bg-white/10 text-white/70 px-3 py-1 rounded-xl hover:bg-gray-400 transition font-semibold">Event</a>
        <a href="peminjaman.php" class="bg-white/10 text-white/70 px-3 py-1 rounded-xl hover:bg-gray-400 transition font-semibold">Peminjaman</a>
        <a href="profil.php" class="bg-white/10 text-white/70 px-3 py-1 rounded-xl hover:bg-gray-400 transition font-semibold">Profile</a>
        <a href="../back-end/user.php" class="bg-white/10 text-white/70 px-3 py-1 rounded-xl hover:bg-gray-400 transition font-semibold">Logout</a>
      </div>
    </nav>
  </header>